@page
@model AppleApp.Pages.Wines.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Wine</h4>
    <hr />
     <img src="@Url.Content(@Model.Wine.ImgUrl)"/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Description)
        </dd>
    
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wine.Apple)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wine.Apple.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Wine.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
